/* GENERAL STYLES */

* {
	box-sizing: border-box;
    font-family: 'Roboto';
}
body {
    width: 100%;
	background-color: #F6F7FA;
}
h2 {
    text-align: center;
}

/* HERO */

header  {
    width: 90%;
    margin: auto;
}
#title {
    width: 100%;
    text-align: center;
    background-color: #F9C533;
    border: 1px solid #D6E0E9;
    padding: 0.2rem;
}
#logo {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: .4%;
    left: 7%;
}
#h1logo {
    padding-left: 10%;
}


/* CONTENT LAYOUT */
main {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    background-color: #FAFBFF;
    border: 1px solid #D6E0E9;
    margin-bottom: 2rem;
}
.column {
    display: grid;
    width: 100%;
    height: 80vh;
    grid-template-rows: repeat(9, 1fr);
    justify-items: center;
    grid-row-gap: 3%;
    padding-bottom: 2rem;
}
.knowledge {
    grid-column: 1 / span 1;
}
.platforms {
    grid-column: 2 / span 1;
}
.resources {
    grid-column: 3 / span 1;
}
.hr {
    grid-column: 4 / span 1;
}

/* SEARCH BAR STYLES */
form {
    margin-bottom: 1%;
}
input {
    display: block;
    margin: auto;
    border: none;
    outline: none;
    padding: .8% 1%;
    font-size: 1.2rem;
    background-color: #FAFBFF;
    border: 1px solid #D6E0E9;
}

/* TITLE STYLES */
h2 {
    display: block;
    height: 60%;
    width: 70%;
    border-bottom: 1px solid #D6E0E9;
}


/* BUTTON STYLES */
button {
    width: 100%;
    height: 100%;
    border-radius: 1.2rem;
    cursor: pointer;
    text-shadow: 2px 2px 3px rgba(0,0,0,.2);
    box-shadow: 
		-6px -6px 26px rgba(255,255,255,.83),
		5px 10px 15px rgba(0,0,0,.05),
		15px 20px 35px rgba(0,0,0,.1),
		inset -2px -2px 2px rgba(0,0,0,.1),
		inset -1px -1px 3px rgba(255,255,255,.6),
		inset 2px 2px 8px rgba(255,255,255,.2),
		inset 1px 1px 8px rgba(255,255,255,.2),
		-6px -6px 26px rgba(255,255,255,.8);
    background-color: #FFFFFF;
    transition: 300ms ease-out;
    font-size: 1.2rem;
    border: 0;
}
button:hover {
    box-shadow: 
			4px 4px 6px rgba(0,0,0,.2), 
			5px 10px 35px rgba(0,0,0,.1),
			8px 10px 25px rgba(0,0,0,.1),
			inset -1px -1px 9px rgba(0,0,0,.2),
			inset -1px -1px 3px rgba(255,255,255,.6),
			inset 1px 1px 8px rgba(255,255,255,1),
			inset 4px 4px 24px rgba(0,0,0,.15),
			-5px -5px 15px rgba(255,255,255,.9);
	transform: scale(.98);
}
button:active,
button:focus {
    box-shadow: inset 2px 2px 16px rgba(255,255,255,.9), 
                inset 8px 8px 9px rgba(0,0,0,.2), 5px 10px 5px rgba(0,0,0,.03), -5px -5px 25px rgba(255,255,255,.1), -2px -2px 9px rgba(100,100,100,.1), 
                inset -2px -2px 9px rgba(255,255,255,1);
    text-shadow: -2px -2px 3px rgba(0,0,0,.2), 2px 2px 3px rgba(255,255,255,1);
    transform: translateY(3px);
    background-color: #FFFFFF;
    outline: none;
}
a {
    height: 110%;
    width: 70%;
    text-decoration: none;
    color:#4D5866;
}
